<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="container">
        <h1 class="heading">Generator</h1>
        <form id="login-form">
            <div>
                <label for="account" class="form-label">Account:</label>
                <input type="text" id="account" name="account" class="form-input">
            </div>
            <div>
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-input">
            </div>
            <button type="submit" class="form-button">Login</button>
            <!-- <button id="submit" class="form-button"><a href="/">Login with no account</a></button> -->
            <div class="form-links">
                <a href="#" id="forgot-password-link">Forgot password</a>
                <span class="form-divider">|</span>
                <a href="#" id="register-link">Register</a>
            </div>
        </form>
    </div>

    <script src="/static/login.js"></script>
</body>

</html>
