<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <link rel="stylesheet" href="/style/style.css">   
</head>

<body>
    <div class="container">
        <h1 class="heading">Image Generator</h1>
        <div class="user-container">
            <p>{{user.username}} + {{user.email}}</p>
            <button id="logout-button" class="form-button"><a href="/login">Logout</a></button>
        </div>     
        <form id="image-form">
            <div>
                <label for="model" class="form-label">Model:</label>
                <select id="model" name="model" class="form-select">
                    <option value="GFPGAN">GFPGAN</option>
                    <option value="ProGAN">ProGAN</option>
                    <option value="VAE">VAE</option>
                    <option value="hakurei/waifu-diffusion">hakurei/waifu-diffusion</option>
                    <option value="runwayml/stable-diffusion-v1-5">runwayml/stable-diffusion-v1-5</option>
                    <option value="timbrooks/instruct-pix2pix">timbrooks/instruct-pix2pix</option>
                    <option value="nlpconnect/vit-gpt2-image-captioning">nlpconnect/vit-gpt2-image-captioning</option>
                </select>
            </div>

            <div>
                <label for="path" class="form-label">Path:</label>
                <input type="text" id="path" name="path" class="form-input">
            </div>
            <div>
                <label for="prompt" class="form-label">Prompt:</label>
                <input type="text" id="prompt" name="prompt" class="form-input">
            </div>
            <div>
                <label for="number" class="form-label">Number of Images:</label>
                <input type="number" id="number" name="number" value="1" min="1" class="form-input">
            </div>
            <div>
                <label for="idx" class="form-label">Index:</label>
                <input type="number" id="idx" name="idx" value="1" min="0" class="form-input">
            </div>
    
            <button type="submit" class="form-button">Generate Images</button>
        </form>

        <div>
            <div class="image-container">
                <div>
                    <h2>Input Image:</h2>
                    <img id="input-image" src="" alt="No need input Image" class="result-image">
                </div>
                <div>
                    <h2>Output Result:</h2>
                    <div id="result"></div>
                </div>
            </div>
        </div>
        <div>
            <h2>Link to Github and Google Colab</h2>
            <ul>
                <li><a href="https://colab.research.google.com/drive/1fEBUoaJXQ-OtmNi54u-bEaE45CRi9C0d?authuser=0#scrollTo=9iI3sGIYH8dO" target="_blank">Colab</a></li>
                <li><a href="https://github.com/qkhanh711/Sofware-Engineering-Final-Project" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>
